@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
.button {
    background: repeating-linear-gradient(#757575, #0027f7);
    box-shadow: 0 0 5px 0 #FFFFFF;
    color: #FFFFFF;
    padding: 15px 32px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    padding: 2.5%;
  }
  body {
    background-color: #000418;
    margin: auto;
    display: grid;
    place-items: center;
  }
  .gamebutton{
    line-height: 4;
    display: inline-block;
    margin: 50px 50px;
    height: 300px;
    width: 300px;
  }
  img {
    padding: 2.5%;
  }
  .module-border-wrap {
    width: 325px;
    padding: 1;
    position: relative;
    background: repeating-linear-gradient(#757575, #0027f7);
    padding: 3px;
  }
  .module {
    background: #000418;
    color: white;
    padding: 4;
  }
  